/* ========================================
    Import fonts
   ====================================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


/* ========================================
    General style
   ====================================== */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    position: relative;
    background: #F4F4F4;
    display: grid;
    grid-template-columns: 64px minmax(0, 1fr);
}
video::-webkit-media-controls {
    display: none;
}
::-webkit-scrollbar {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a {
    text-decoration: none;
}
hr {
    margin: 12px 0;
    border: none;
    height: 1px;
    background: #BFBFBF;
}
#graph {
    min-width: 100%;
    max-height: 130px;
    margin: 0;
    padding: 0;
}
.hidden {
    width: 0;
    height: 0;
    display: none;
}
.green {
    color: #73D13D;
}
.orange {
    color: #FFD666;
}
.red {
    color: #F5222D;
}
/* ========================================
    General modal
   ====================================== */
.modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.modal-bg-active{
    visibility: visible;
    opacity: 1;
}  
.modal{
    position: relative;
    background-color: white;
    padding: 24px;
    border-radius: 2px;
    box-shadow: inset 0px -1px 0px #F0F0F0;
} 
/* ========================================
   General navbar
   ====================================== */
.menu {
    height: 100%;
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1;
}
.menu__logo {
    width: 32px;
    display: block;
    margin: 12px 13px;
    border-style: none;
}
.menu-ico {
    width: 64px;
    height: 64px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color:#595959;  
}
.menu-ico:first-child {
    font-size: 20px;
}
.menu-ico:hover {
    transform: scale(1.03);
    color: #146abb;
    transition: ease-in-out 0.2s; 
}

.menu-ico a{
    margin:0px;
    color: inherit;
}

.menu-ico a {
    display: inline-block;
}

#active  {
    color: #1890FF;
}


/* ========================================
   General page header
   ====================================== */
.page__header {
    display: block;
    position: relative;
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 28px;
    background: #FFFFFF;
}
.page__header h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.85);
}
.camera-name {
    padding-left: 28px;
}
.camera-name:before {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #73D13D;
    border-radius: 50%;
    top: 28px;
    left: 24px;
    content: '';
}
.header__perfomance {
    position: absolute;
    right: 24px;
    top: 19px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    width: 314px;
    height: 32px;
    background: #F5F5F5;
    border: none;
    border-radius: 5px;
    list-style-type: none;
}
.header__perfomance li {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #595959;
}

/* ========================================
   General history section
   ====================================== */
.history-container {
    position: relative;
    background: #fff;
    margin: 24px;
    padding: 16px;
    margin-bottom: 24px;
}
.history-title p {
    position: absolute;
    right: 16px;
    top: 24px;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.85);
    float: right;
    text-align: right;   
}
.history-title h4 {
    padding: 12px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-right: 16px;
}
.live-btn-box{
    list-style-type: none;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.85);   
}
.live-btn-box li{
    margin: 0 16px;
    float: left;    
}
.live-cam-btn {
    outline: none;
    border: 2px solid rgba(255,255,255,.5);
    background: none;
    padding: 12px 0;
}
.live-cam-active {
    color: #1890FF;
    border-bottom-color: #1890FF;
    transition: 0.3s;
}
.history-title {
    display: inline-flex;
    padding: 12px;
}
.screenshots {
    position: relative;
    width: 100%;
}
.screenshots .next {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 2em;
    color: #b5b3b0;
    cursor: pointer;
}
.screenshots .prev {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 2em;
    color: #b5b3b0;
    cursor: pointer;
}
.screenshot-wrapper {
    width: 95%;
    height: 270px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px;
}
.screenshot {
    width: 300px;
    height: 280px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    outline: none;
}
.screenshot .date {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    column-count: 2;
}
.screenshot .date p:nth-child(2) {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #434343;
    text-align: right;
}
.screenshot-info {
    column-count: 2;
}
.screenshot-info p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #434343;
}
.screenshot-info p:nth-child(2){
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #434343;
    text-align: right;
}
.screenshot-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    align-items: center;
}

/* ========================================
   Dashboard page styling
   ====================================== */
.live-view{
    background: #fff;
    margin: 24px;
    padding: 16px;
}
.live-view > h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.live-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}
.live-cam {
    position: relative;
    width: 100%;
}
.live-video {
    width: 100%;
    height: 200px;
    object-fit: cover;
    align-items: center;   
}
.live-cam h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    color: #434343; 
    padding-left: 14px; 
}
.live-cam h2:before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #73D13D;
    border-radius: 50%;
    top: 6px;
    left: 0px;
    content: '';
}
.live-count {
    margin: 24px;
    display: grid;
    grid-template-columns: 30% minmax(0, 1fr);
    grid-gap: 24px;
}
.live-count-left {
    background: #fff;
    padding: 16px;
}
.live-count-right {
    width: 100%;
    background: #fff; 
    padding: 16px;
    border: none;
    border-spacing: 0;
}
.live-count-right * {
    font-size: 14px;
    line-height: 22px;
}
.live-count-right td {
    padding: 5px 10px;
    margin: 0;
}
.live-count-right td i{
    margin-right: 8px;
}
.live-count-right td:first-child, .live-count-right thead {
    font-style: normal;
    color: #434343;
}
.live-count-right thead td {
    border-bottom: 1px solid #BFBFBF;
}
.live-count-right td:not(:first-child) {
    text-align: center;

}
/* ========================================
   Dashboard page end styling
   ====================================== */


/* ========================================
   Camera page styling
   ====================================== */
.camera-wrapper {
    display: grid;
    grid-template-columns: 22% minmax(0, 1fr);
    grid-gap: 24px;
    margin: 24px;
    position: relative;
}
.panel__bar {
    width: 100%;
    height: 620px;
    background: #fff;
    padding: 16px;
}
.panel__bar h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #434343;
}
.panel-table {
    width: 100%;
    border-spacing: 0 15px;
    border: none;
    outline: none;
}
.table__col1 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #434343;
}
.table__col2 {
    font-size: 14px;
    line-height: 24px;
    float: right;
}
.table__col2 button {
    outline: none;
    border: none;
    background: none;
    font-size: 14px;
    line-height: 24px;
    color: #40A9FF;
    margin-right: 4px;
    cursor: pointer;
}
.table__col2 button:hover {
	color: #5cb6ff;
}
.panel__btn {
    width: 100%;
    height: 40px;
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    background: #1890FF;
    border: 1px solid #1890FF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
}
.panel__btn:hover {
    background: #3494ed;
}
.panel__bar h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.85);
}
.video-container {
    width: 100%;
    background: #fff;
    padding: 16px;
}
.video-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
}
.video-container hr {
    margin: 12px 0;
}
.video_face-mask {
    position: absolute;
    display: flex;
    top: 12px;
    right: 12px;
}
.video_face-mask label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin-right: 5px;
}
.check-box {
    display: block;
    position: relative;
    width: 44px;
    height: 22px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.2);
    transition: 0.5s;
}
.check-box:checked {
    background: #1890FF;
}
.check-box:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: 0.5s;
}
.check-box:checked:before {
    left: 24px;
}
.video_face-mask img {
    margin: 0 9px 0 5px;
}
.ico-info {
    width: 14px;
    cursor: pointer;
}
.video-container video {
    margin: 0;
    width: 100% !important;
    height: auto !important;
}
.face-mask-rect {
    position: absolute;
    border-radius: 3px;
    -webkit-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
    -o-backdrop-filter: blur(3px);
    -ms-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: none;
    outline: none;
    pointer-events: none;
}
.drawing-area {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
.drawing-area line {
	position: relative;
    z-index: 999;
    stroke: rgb(0, 255, 0);
    stroke-width: 2;
}
.drawing-area circle {
    z-index: 999;
    stroke: rgb(0, 255, 0);
    stroke-width: 1;
    background-color: green;
}
/*.face-mask-rect {
    top: 130px;
    left: 110px;
    width: 40px;
    height: 40px;
}*/
.modal-threshold {
    width: 300px;
    margin: 0;
    padding: 0;
}
.modal-threshold h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.85);
}
#threshold-form .input-box {
    margin: 24px 0;
}
#threshold-form .input-box label {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}
#threshold-form .text-input {
    padding: 5px 12px;
    text-align: left;
    width: 90px;
    float: right;
    outline: none;
}
/* ========================================
   Responsive style
   ====================================== */
@media only screen and (max-width: 900px) {
    /* ========================================
        General media query
    ====================================== */

    /* ========================================
        Dashboard page media query
    ====================================== */

    /* ========================================
        Camera page media query
    ====================================== */
    .camera-wrapper {
        display: block;
    }
    .screenshot-wrapper {
        width: 90%;
        height: 290px;
    }
}
@media only screen and (max-width: 600px) {
    /* ========================================
        General media query
    ====================================== */
    body {
        display: block;
    }
    .menu {
        display: flex;
        height: 64px;
        column-count: 2;
        margin: 0;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .menu__logo {
        width: 64px;
        margin: 0;
        padding: 8px;
    }
    .menu ul{
        display: inline-flex;
        margin-left: auto;
    }
    /* ========================================
        Dashboard page media query
    ====================================== */

    /* ========================================
        Camera page media query
    ====================================== */
    .camera-wrapper {
        display: block;
    }
}